@model ClientsStatusViewModel
@{
    ViewData["Title"] = "Stato Segnalazioni";//client statuss//Client already added
}

<div class="page-content-wrapper py-3">

    <div class="container">
        <div class="element-heading">
            <h6>Stato Segnalazioni</h6>
        </div>
    </div>

    <div class="container mb-4">
        <div class="card">
            <div class="card-body">
                <p>Segnalazioni Totali: <span class="badge bg-warning rounded-pill">@Model.TotalClients</span></p> @*totalClients*@
            <p>Provvigione Totali: <span class="badge bg-warning rounded-pill">&#128; @Model.TotalCommission</span> da <span class="badge bg-warning rounded-pill">@Model.TotalCommissionOfClients</span> segnalazioni</p> @*totalCommition 40 from 2 clients(if commetion is not 0)*@
            <p>Provvigione Pagata: <span class="badge bg-warning rounded-pill">&#128; @Model.TotalCommissionPaid</span> di <span class="badge bg-warning rounded-pill">@Model.TotalCommissionPaidOfClients</span> segnalazioni</p> @*commissionPaid 300 of 5 clients(where progress==4)*@
            <p>Saldo di Profitto Totali: <span class="badge bg-warning rounded-pill">&#128; @Model.TotalProfitBalance</span></p> @*totalProfit 500 (a2-a3)*@

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row g-3">

            <div id="searchResults" class="col-12"></div>

            <div id="progress" class="col-12 text-center" style="display:none">
                <h4>Loading...</h4>
            </div>

        </div>
    </div>

</div>

@section Scripts{ 
<script>

    $(function () {
        GetClientData(true);

        $(window).scroll(function () {

            var hT = $('#searchResults').offset().top,
                hH = $('#searchResults').outerHeight(),
                wH = $(window).height(),
                wS = $(this).scrollTop();

            if (!_incallback && !_EOTL) {
                if (wS > (hT + hH - wH)) {
                    _incallback = true;
                    GetClientData(false);
                }
            }

        });
    });

</script>
}